ul li {
	text-decoration: underline;
}

#note {
	width:200px;
}

#note:focus {
}

ul {
	list-style: none;
	width:200px;
	margin:0;
	padding:0;
}
ul li {
	padding:5px;
	background-color:#61B4CF;
	margin:2px;
	border:1px solid #024E68;
	color:#FFF;
}

ul li:hover {
	background-color:#3AAACF;
	cursor:pointer;
}